@import "compass";
@import "compass/utilities";
@import "compass/css3/font-face";
@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap/type";
@import "compass_twitter_bootstrap_responsive";

$ratio: "ratio", "Helvetica Neue", helvetica, sans-serif;
$purple: #aa3377;

body {
  
  #main_nav.navbar {
    .brand {
      font-weight: bold;
      background-color: darken($purple, 20);
    }
    .nav .active > a {
      background-color: transparent;
    }
  }

  footer#footer {
    margin-top: 60px;
    margin-bottom: 0px;
    background-color: #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    .container {
      
    }
  }

  a {
    color: $purple;
  }

  #main_title {
    margin-top: 70px;
    h1 {
      font-weight: 200;
      font-size: 64px;
      line-height: 96px;
    }
  }
  background-color: #eee;
  div#main {
    h1, h2, h3, p {
      font-family: $ratio;
    }
    #intro {
      margin-top: 64px;
      margin-bottom: 1.5em;
      h1 {
        font-size: 64px;
        line-height: 72px;
        font-family: $ratio;
        font-weight: 200 !important;
      }
      h2.quote {
        margin-top: 3em;
        font-size: 32px;
        line-height: 32px;
        font-family: $ratio;
        font-weight: 200 !important;
      }
      p {
        margin-top: 1.5em;
      }
    }
  }
}

body.ps-active, body.ps-building, div.ps-active, div.ps-building
{
  background: #000;
  overflow: hidden;
}
body.ps-active *, div.ps-active *
{ 
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  display: none;
}
body.ps-active *:focus, div.ps-active *:focus 
{ 
  outline: 0; 
}


/* Document overlay */
div.ps-document-overlay 
{
  background: #000;
}

.thumbnail_item {
  margin-bottom: 10px;
  background-color: black;
  border: 4px solid white;
  @include box-shadow(#ddd 0px 0px 6px);
}

.thumbnail_image {
  width: 100%;
  height: 175px;
  background-repeat: no-repeat;
  a {
    width: 100%;
    height: 175px;
    display: block;
  }
}
/* UILayer */
div.ps-uilayer { 
  
  background: #000;
  cursor: pointer;
  
}


/* Zoom/pan/rotate layer */
div.ps-zoom-pan-rotate{
  background: #000;
}
div.ps-zoom-pan-rotate *  { display: block; }


/* Carousel */
div.ps-carousel-item-loading 
{ 
  background: url(/loader.gif) no-repeat center center; 
}

div.ps-carousel-item-error 
{ 
  background: url(/error.gif) no-repeat center center; 
}


/* Caption */
div.ps-caption
{ 
  background: #000000;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: $ratio;
  text-align: left;
}
div.ps-caption *  { display: inline; }

div.ps-caption-bottom
{ 
  border-top: 1px solid #42403f;
  border-bottom: none;
  min-height: 44px;
}

div.ps-caption-content
{
  padding: 13px;
  display: block;
}


/* Toolbar */
div.ps-toolbar
{ 
  color: #ffffff;
  font-size: 13px;
  font-family: $ratio;
  text-align: center;
  height: 44px;
  display: none;
  table-layout: fixed;
}
div.ps-toolbar * { 
  display: block;
}

div.ps-toolbar-top 
{
  border-top: none;
}

div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play
{
  cursor: pointer;
  display: table-cell;
}

div.ps-toolbar div div.ps-toolbar-content
{
  width: 44px;
  height: 44px;
  margin: 0 auto 0;
  background-image: url(/icons.png);
  background-repeat: no-repeat;
}

div.ps-toolbar-close div.ps-toolbar-content
{
  background-position: 0 0;
}

div.ps-toolbar-previous div.ps-toolbar-content
{
  background-position: -44px 0;
}

div.ps-toolbar-previous-disabled div.ps-toolbar-content
{
  background-position: -44px -44px;
}

div.ps-toolbar-next div.ps-toolbar-content
{
  background-position: -132px 0;
}

div.ps-toolbar-next-disabled div.ps-toolbar-content
{
  background-position: -132px -44px;
}

div.ps-toolbar-play div.ps-toolbar-content
{
  background-position: -88px 0;
}

/* Hi-res display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
  div.ps-toolbar div div.ps-toolbar-content
  {
    -moz-background-size: 176px 88px;
    -o-background-size: 176px 88px;
    -webkit-background-size: 176px 88px;
    background-size: 176px 88px;
    background-image: url(/icons@2x.png);
  }
}

@media (max-width: 768px) {
  div#main_title {
    margin-top: 10px;
    h1 {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 32px;
    }
  }
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

#tiptip_holder.tip_top {
  padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
  padding-top: 5px;
}

#tiptip_holder.tip_right {
  padding-left: 5px;
}

#tiptip_holder.tip_left {
  padding-right: 5px;
}

#tiptip_content {
  font-size: 11px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  padding: 4px 8px;
  border: 1px solid rgba(255,255,255,0.25);
  background-color: rgb(25,25,25);
  background-color: rgba(25,25,25,0.92);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 0 3px #555;
  -webkit-box-shadow: 0 0 3px #555;
  -moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
  border-top-color: #fff;
  border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
  border-bottom-color: #fff;
  border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
  border-right-color: #fff;
  border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
  border-left-color: #fff;
  border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: rgb(25,25,25);
  border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: rgb(25,25,25);
  border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: rgb(25,25,25);
  border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: rgb(25,25,25);
  border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {  
  #tiptip_content {
    padding: 4px 8px 5px 8px;
    background-color: rgba(45,45,45,0.88);
  }
  #tiptip_holder.tip_bottom #tiptip_arrow_inner { 
    border-bottom-color: rgba(45,45,45,0.88);
  }
  #tiptip_holder.tip_top #tiptip_arrow_inner { 
    border-top-color: rgba(20,20,20,0.92);
  }
}

/* The input. */
input.mp_input {
  border: 1px solid #000000;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
  padding: 3px;
  width: 250px;
}

/* Ordered list for display results. */
ol.mp_list {
  background-color: #FFFFFF;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  overflow: hidden;
  position: absolute;
  width: 256px;
  z-index: 99999;
}

/* Each list item, regardless of success, error, etc. */
ol.mp_list li {
  border-bottom: 1px solid #C0C0C0;
  padding: 4px 4px 5px;
}

/* Each list item from a successful request. */
ol.mp_list li.mp_item {

}

/* Each list item that's selectable. */
ol.mp_list li.mp_selectable {
  cursor: pointer;
}

/* Currently highlighted list item. */
ol.mp_list li.mp_highlighted {
  background-color: #E0E0E0;
}

/* When a request is made that returns zero results. */
ol.mp_list li.mp_no_results {

}

/* When a request is made that doesn't meet the 'minChars' length option. */
ol.mp_list li.mp_min_chars {

}

/* When a request is made that fails during the ajax request. */
ol.mp_list li.mp_error {

}