-# coding: utf-8

#main_title
  %h1
    Photographs of Marina Abramovic
  %p
    Marina Abramović (born November 30, 1946) is a New York-based Serbian performance artist who began her career in the early 1970s. Active for over three decades, she describes herself as the "grandmother of performance art". 

  %p
    %a{:href=>"http://www.google.com/url?q=http%3A%2F%2Fwww.guardian.co.uk%2Fartanddesign%2F2010%2Foct%2F03%2Finterview-marina-abramovic-performance-artist&sa=D&sntz=1&usg=AFQjCNH7t78EVqmQkAKD9_y0Sh7JhNrZ1g"} Read an interview with her 
    in The Observer, watch her films on her website or join her Facebook community. 

%ul#images.thumbnails
  - @images.each do |image|
    .span3
      .thumbnail_item
        .thumbnail_image{:"data-thumbnail" => "http://www.demarco-archive.ac.uk/assets/tmp/uploads/medium/#{image.medium_image}"}
          %a{:href=>"http://www.demarco-archive.ac.uk/assets/tmp/uploads/large/#{image.large_image}"}
            %details.hidden
              = image.title
              = image.description