-# coding: utf-8
#main_title.row
  .span12
    %h2
      Photographs about
    %h1
      = @artist.name
  .span6
    = simple_format @artist.description
  .span6
    = link_to "Via DBPedia", @artist.dbpedia_url unless @artist.dbpedia_url.blank?

%ul#images.thumbnails
  - @images.each do |image|
    = render_partial :"images/thumbnail", :locals => {:image => image}