#main_title
  %h1
    Photographs of Marina Abramovic
  %p
    Marina Abramović (born November 30, 1946) is a New York-based Serbian performance artist who began her career in the early 1970s. Active for over three decades, she describes herself as the "grandmother of performance art". 

  %p
    Read an interview with her in The Observer, watch her films on her website or join her Facebook community. 

%ul#images.thumbnails
  - @images.each do |image|
    .span3
      .thumbnail_item
        .thumbnail_image{:"data-thumbnail" => "http://www.demarco-archive.ac.uk/assets/tmp/uploads/medium/#{image.medium_image}"}
          %a{:href=>"http://www.demarco-archive.ac.uk/assets/tmp/uploads/large/#{image.large_image}"}
            %details.hidden
              = image.title
              = image.description