-# coding: utf-8

#intro.row
  .span6
    %img{:src => "/images/demarco.jpg"}
  .span6
    %h1
      Richard Demarco
    %h2
      47 years through the lens

    %h2.quote
      "Richard Demarco is without doubt a remarkable man, an Italian Scot, an artist, a writer, a philosopher." Sir Nicholas Serota, Director, Tate Gallery, 2000

.row
  .span6
    Richard Demarco has attended every Edinburgh Festival and has brought visual arts from across the world, Eastern Europe in particular, to over 50 Edinburgh Festivals. 

  .span6
    These archives are a unique visual record of Richard Demarco’s career from the late 1950s to 2006, bridging the avant-garde of Eastern and Western Europe during and after the Cold War and the arts in Scotland in the 1960s and 1970s.